@charset "utf-8";
/* CSS Document */

#header{
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    /* border: 1px solid #9b9b9b; */
    height: 80px;
}

#logo{
    margin-top: 5px;
    float: left;
    /* border: 1px solid red; */
    position: inherit;
    height: auto;
}

#menu{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    /* border: 1px solid blue; */
    float: right;
    position: relative;
    margin-top: 20px;
}

#headImg{
    position: relative;
    width: auto;
    background-image:url(../images/image1.jpg);
    background-size: cover;
    height: 800px;
    /* border: 1px solid #9b9b9b;*/
    margin: 0 auto;
}

#sitename{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing:20px;
    padding-top: 30%;
    font-size: 300%;
    color: white;
}

#subHeader{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80%;
    font-weight: bold;
    letter-spacing:7px;
    color: white;
}

#subheading{
    position: relative;
    width: auto;
    height: auto;
    /* border: 1px solid #9b9b9b; */
    margin: 0 auto;
}

#greeting{
    padding-top: 100px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60%;
    font-weight: bold;
    letter-spacing:2px;
    color: #f2c0c9;
}

#alpha{
    padding-top: 16px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 170%;
    font-weight: bold;
    letter-spacing:14px;
    color: #000000;
}

#subIntro{
    padding-left: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 7px;
    margin: 10px auto;
    display: table;
    background-color: black;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 75%;
    font-weight: bold;
    letter-spacing:7px;
    color: #ffffff;
}

#subIntroContent{
    padding-top: 20px;
    margin: 10px auto;
    font-family: 'crimsontextroman';
    width: 70%;
    text-align: center;
    color: #b6b6b6;
    font-size: 90%;
}

#dots{
    padding-top: 40px;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    color: #000000;
}

#somework{
    padding-top: 95px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
    font-weight: bold;
    letter-spacing:2px;
    color: #000000;
}

hr {
    width: 70px;
    display: block;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

#someworkContent{
    margin: 10px auto;
    font-family: 'crimsontextroman';
    width: 50%;
    text-align: center;
    color: #b6b6b6;
    font-size: 90%;
    margin-bottom: 5em;
    border: 1px solid blueviolet;
}

#workContainer{
    border: 1px solid red;
    margin: auto;
    text-align: center;
    width: 80%;
    display: inherit;
}

#workmenu{
    border: 1px solid blue;
    margin: 0 auto;
    display: inline-block;
}

.menu{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: .65em;
    float: left;
    margin-right: 12px;
    margin-left: 12px;
    letter-spacing:.2em;
    margin-bottom: 4em;
}

#worklist{
    clear: left;
    /**/border: 1px solid pink;
    width: 82%;
    margin: 0 auto;
}

#workspan{
    /*border: 1px solid blueviolet;*/
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

.workitem{
    float: left;
    /*border: 1px solid green;*/
    width: 370px;
    height: 370px;
    overflow: hidden;
    background-color: #191919;
}

.workitem img{
    height: 100%;
    min-width: 100%;
}

#worktext{
    border: 1px solid darkgoldenrod;

}

#worktitle{
    float: left;
    /*border: 1px solid fuchsia;*/
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: .9em;
    letter-spacing:.1em;
    margin-bottom: 12%;
    display: inline-block;
}

#category{
    margin-top: .8em;
    margin-left: 2%;
    float: left;
    /*border: 1px solid brown;*/
    font-family: 'crimsontextroman';
    color: #b6b6b6;
}

#allworks{
    border: 2px solid black;
    margin: 45px auto 150px;
    display: table;
    padding: 10px 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    letter-spacing: .1em;
    font-size: .85em;

}
#servicesContainer{
    width: 80%;
    border: 1px solid red;
    margin: 10px auto 0;
    text-align: center;
    display: inherit;
}

#servicesImg{
    width: 700px;
    height: 655px;
    background-image: url(../images/image8.jpg);
    background-size: cover;
    border: 1px solid brown;
}

#whitespace{
    background-color: white;
    margin: auto;
    margin-top: 36%;
    padding: 6%;
    width: 19%;
    height: 11%;
}

h3{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}