@charset "utf-8";
/* CSS Document */

#header{
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    /* border: 1px solid #9b9b9b; */
    height: 80px;
}

#logo{
    margin-top: 5px;
    float: left;
    /* border: 1px solid red; */
    position: inherit;
    height: auto;
}

#menu{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    /* border: 1px solid blue; */
    float: right;
    position: relative;
    margin-top: 20px;
}

#headImg{
    position: relative;
    width: auto;
    background-image:url(../images/image1.jpg);
    background-size: cover;
    height: 800px;
    /* border: 1px solid #9b9b9b;*/
    margin: 0 auto;
}

#sitename{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing:20px;
    padding-top: 30%;
    font-size: 300%;
    color: white;
}

#subHeader{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80%;
    font-weight: bold;
    letter-spacing:7px;
    color: white;
}

#subheading{
    position: relative;
    width: auto;
    height: auto;
    /* border: 1px solid #9b9b9b; */
    margin: 0 auto;
}

#greeting{
    padding-top: 100px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60%;
    font-weight: bold;
    letter-spacing:2px;
    color: #f2c0c9;
}

#alpha{
    padding-top: 16px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 170%;
    font-weight: bold;
    letter-spacing:14px;
    color: #000000;
}

#subIntro{
    padding-left: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 7px;
    margin: 10px auto;
    display: table;
    background-color: black;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 75%;
    font-weight: bold;
    letter-spacing:7px;
    color: #ffffff;
}

#subIntroContent{
    padding-top: 20px;
    margin: 10px auto;
    font-family: 'crimsontextroman';
    width: 70%;
    text-align: center;
    color: #b6b6b6;
    font-size: 90%;
}

#dots{
    padding-top: 40px;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    color: #000000;
}

#somework{
    margin: 0 auto;
    border: 1px solid #9b9b9b;
    padding-top: 95px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
    font-weight: bold;
    letter-spacing:2px;
    color: #000000;
}

hr {
    width: 70px;
    display: block;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

#someworkContent{
    margin: 10px auto;
    font-family: 'crimsontextroman';
    width: 50%;
    text-align: center;
    color: #b6b6b6;
    font-size: 90%;
    margin-bottom: 5em;
    border: 1px solid blueviolet;
}

#workContainer{
    border: 1px solid red;
    margin: auto;
    text-align: center;
    width: 80%;
    display: inherit;
}

#workmenu{
    border: 1px solid blue;
    margin: 0 auto;
    display: inline-block;
}

.menu{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: .65em;
    float: left;
    margin-right: 12px;
    margin-left: 12px;
    letter-spacing:.2em;
    margin-bottom: 4em;
}

#worklist{
    clear: left;
    /**/border: 1px solid pink;
    width: 82%;
    margin: 0 auto;
}

#workspan{
    /*border: 1px solid blueviolet;*/
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

.workitem{
    float: left;
    /*border: 1px solid green;*/
    width: 370px;
    height: 370px;
    overflow: hidden;
    background-color: #191919;
}

.workitem img{
    height: 100%;
    min-width: 100%;
}

#worktext{
    border: 1px solid darkgoldenrod;

}

#worktitle{
    float: left;
    /*border: 1px solid fuchsia;*/
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: .9em;
    letter-spacing:.1em;
    margin-bottom: 12%;
    display: inline-block;
}

#category{
    margin-top: .8em;
    margin-left: 2%;
    float: left;
    /*border: 1px solid brown;*/
    font-family: 'crimsontextroman';
    color: #b6b6b6;
}

#allworks{
    border: 2px solid black;
    margin: 45px auto 150px;
    display: table;
    padding: 10px 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    letter-spacing: .1em;
    font-size: .85em;

}
#servicesContainer{
    width: 80%;
    border: 1px solid blue;
    margin: 10px auto 0;
    text-align: center;
    display: table;

}

#servicesImg{
    float: left;
    margin: 0 auto;
    width: 700px;
    height: 655px;
    background-image: url(../images/image8.jpg);
    background-size: cover;
    border: 1px solid brown;
}

#whitespace{
    background-color: white;
    margin: 0 auto;
    margin-top: 36%;
    padding: 6%;
    width: 19%;
    height: 11%;
}

h3{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#servicesList{
    height: 100%;
    border: 2px solid red;
    display: inline-block;
    float: right;
    width: 49%;
    padding-top: 35px;
}

.listContainer{
    margin-top: 40px;
    display: block;
    margin-right: 9%;
    border: 2px solid black;
    width: 100%
}


.listContainer img{
    margin: auto;
}


#imgContainer{
    float: left;
    border: 2px solid #f68ca2;
    margin: 0px 20px;
    height: 60px;
    width: 70px;
    text-align: center;
    padding-top: 2%;
}

h1{
    text-align: left;
    padding-left: 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    border: 1px solid brown;
    margin: 0;
}

#servicesContent{
    margin: 0 auto;
    text-align: left;
    padding: 5px;
    font-family: 'crimsontextroman';
    color: #b6b6b6;
    border: 1px solid brown;
}

#blogContent{
    float: left;
    padding-right: 5px;
    text-align: left;
    font-family: 'crimsontextroman';
    color: #b6b6b6;
    border: 1px solid brown;
    display: inline;
}

#blogContainer{
    display: table;
    border: 1px solid brown;
    margin: auto;
    width: 80%;
}

#blogsContainer{
    border: 1px solid red;
    margin: auto;
    text-align: center;
    width: 80%;
    display: inherit;
}

.blogPost{
    float: left;
    border: 1px solid blue;
    display: table;
    margin: 1%;
}

.blogimg{
    width: 370px;
    height: 200px;
    overflow: hidden;
}

.blogimg img{
    min-height: 100%;
    max-width: 100%;
    vertical-align: bottom;
}


#blogCategory{
    text-align: left;
    margin-top: 28px;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60%;
    font-weight: bold;
    letter-spacing:2px;
    color: #f2c0c9;
}

#blogTitle{
    margin: 10px 0 10px 0;
    display: block;
    width: 370px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    border: 1px solid brown;
}

#workwithus{
    width: 42%;
    display: block;
    border: 2px solid #f0f0f0;
    margin: 170px auto;
    text-align: center;
}

#wantwork{
    padding-top: 50px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    border: 1px solid brown;
}
#wantworkContent{
    margin-top: 10px;
    font-family: 'crimsontextroman';
    color: #b6b6b6;
    border: 1px solid fuchsia;
}

#startproject{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid fuchsia;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: .9em;
    letter-spacing:.1em;
    display: inline-block;
}

#footer{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid blue;
    width: 90%;
    height: 700px;
}


#backdr{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid red;
    background: #fae2e2;
    width: 81%;
    padding-bottom: 23%;
    display: block;
    z-index: 1;
}

#footerContainer{
    padding: 3% 3% 8% 3%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid green;
    width: 78%;
    z-index: 2;
    background: white;
}

#fcontent{
    font-family: 'crimsontextroman';
    color: #b6b6b6;
    border: 1px solid fuchsia;
}

#alphalogo{
    text-align: center;
    /* position: absolute; */
}

#falpha{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    border: 1px solid brown;
    letter-spacing: .5em;
}

#cstudio{
    margin-top: 10px;
    font-family: 'crimsontextroman';
    color: #000;
    font-style: italic;
    border: 1px solid fuchsia;
    letter-spacing: .1em;
    font-size: .9em;
}

/* --------------------------------- */

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    font-weight: bold;
    text-align: center;

}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.main {
    text-align: center;

}

.office {
    float: left;
    border: 1px solid green;
    text-align: left;
}

.contact {
    text-align: right;
    float: right;
    border: 1px solid green;
}

@media all and (min-width: 600px) {
.footers { flex: 1 auto; }
}

@media all and (min-width: 800px) {
.main    { flex: 3 0px; }
.office { order: 1; }
.main    { order: 2; }
.contact { order: 3; }
}

body {
padding: 2em;
}

#copyright{
    margin: 0 auto;
    position: absolute;
    display: flex;
    font-family: 'crimsontextroman';
    color: #000;
    font-style: italic;
    border: 1px solid fuchsia;
    letter-spacing: .1em;
    font-size: .9em;
    text-align: center;
}